# ==============================
# VARIABLES DE ENTORNO
# ==============================
.env

# ==============================
# ENTORNO VIRTUAL
# ==============================
env/
venv/

# ==============================
# PYTHON
# ==============================
__pycache__/
*.py[cod]
*$py.class

# ==============================
# BASE DE DATOS
# ==============================
db.sqlite3
*.sqlite3

# ==============================
# LOGS Y TEMPORALES
# ==============================
*.log
*.tmp

# ==============================
# ARCHIVOS DE DJANGO
# ==============================
media/   # ⚠️ si subes imágenes de usuarios (opcional)
staticfiles/  # collectstatic

# ==============================
# IDEs / EDITORES
# ==============================
.vscode/
.idea/

# ==============================
# SISTEMA OPERATIVO
# ==============================
.DS_Store
Thumbs.db

# ==============================
# MIGRACIONES (OPCIONAL)
# ==============================
# migrations/
# !migrations/__init__.py