<header class="main-content">
    <div class="header-inner">
        <img src="../assets/images/logo.png" alt="SofInventory Logo" id="headerLogo">
    </div>
    <div class="header-actions">
        <div class="search-container">
            <input type="text" id="global-search" placeholder=" 🔍Buscar productos, clientes...">

        </div>

        <div class="user-actions">
            <button id="help-btn" class="help-button" title="Ayuda">
                <i class="fas fa-question-circle"></i>
                <span>Ayuda</span>
            </button>

            <div class="user-info">
                <div class="user-avatar">
                    <i class="fas fa-user"></i>
                </div>
                <span id="user-name">Usuario</span>
                <i class="fas fa-chevron-down user-toggle"></i>
            </div>

            <button id="theme-toggle" class="theme-toggle" title="Cambiar tema">
                <i class="fas fa-moon"></i>
            </button>
        </div>
    </div>
</header>
<script>
    

    
</script>
<script src="/public/assets/javaScript/components/header.js"></script>